:root {
  /* COLOR */
  --clr-red-400: 0 100% 74%;
  --clr-green-400: 154 59% 51%;
  --clr-blue-200: 246 25% 77%;
  --clr-blue-400: 248 32% 49%;
  --clr-blue-700: 249 10% 26%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-poppins: "Poppins", sans-serif;

  /* FONT WEIGHT */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.semibold {
  font-weight: var(--fw-semibold);
}

/* BODY */

body {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-normal);
  background: hsl(var(--clr-red-400)) url("./images/bg-intro-mobile.png")
    no-repeat center/cover;
  color: hsl(var(--clr-white));
  text-align: center;
  padding: 1.5rem;
}

@media (min-width: 48rem) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
}
