:root {
  /* COLOR */
  --clr-red-400: 0 100% 74%;
  --clr-green-400: 154 59% 51%;
  --clr-blue-200: 246 25% 77%;
  --clr-blue-400: 248 32% 49%;
  --clr-blue-700: 249 10% 26%;
  --clr-white: 0 0% 100%;

  /* FONT FAMILY */
  --ff-poppins: "Poppins", sans-serif;

  /* FONT WEIGHT */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.semibold {
  font-weight: var(--fw-semibold);
}

/* BODY */

body {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-normal);
  background: hsl(var(--clr-red-400)) url("./images/bg-intro-mobile.png")
    no-repeat center/cover;
  color: hsl(var(--clr-white));
  text-align: center;
  padding: 1.5rem;
}

@media (min-width: 48rem) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
  }
}

/* HERO */

.hero {
  max-width: 38.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-inline: auto;
}

.hero > * {
  flex: 1;
}

.hero__intro {
  margin-top: 4.188rem;
}

.hero__title {
  font-weight: var(--fw-bold);
  font-size: 1.81rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

.hero__desc {
  font-weight: var(--fw-medium);
  line-height: 1.6;
  margin-top: 1.375rem;
}

@media (min-width: 48rem) {
  .hero {
    max-width: 69.375rem;
    flex-direction: row;
    gap: 1.875rem;
    margin-block: 6.063rem;
  }

  .hero__intro {
    text-align: left;
    margin: 0;
  }

  .hero__desc {
    margin-top: 1.812rem;
  }
}

@media (min-width: 64rem) {
  .hero__title {
    font-size: 3.25rem;
    line-height: 1.05;
    letter-spacing: -0.093;
  }
}
